/* Global Styles */
html, body {
   height: 100%;
}



/* Map Styles */
#map { height: 92%;
       width: 75%;
       margin-left:25%;
       }

.legend {
    line-height: 18px;
    color: #555;
    background-color:white;
    padding: 15px;
    border: 4px ridge black;
    border-radius:15px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

h6.legendText {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	display: inline;
}


.box {
  border: 1px solid #EEE;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}

.source {
  position: absolute;
  width: 50%;
  top: 6px;
  left: 50px;
}
.customPopUp .leaflet-popup-tip,
.customPopUp .leaflet-popup-content-wrapper {
    background: #FFB65D;
    color: #000;
    border: 2px solid black;
}

/* Download Button */

.download{
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border: 4px solid black;
  border-radius:15px;
  padding:12px 25px;
  padding-top: 15px;
  opacity: .5;
}
.download:hover {
  background-color: black;
  color:white;
  border: 4px solid gray;
  opacity: 1;
}

/* Nav & Sidebar Styles */
.navbar {
  height:8%;
}    

.sidebar-nav {
  height: 100%;
  width: 25%;
  position: fixed;
  left: 0;
  background-color: #111;
  overflow-x: scroll;
  padding:15px;
}

.sidebar-nav p {
    color:white;
    text-transform: uppercase;
    text-align: left;
	display: inline-block;
	width: 80%;
	margin-bottom: 6px;
}

.variableContainer{
	display:inline;
}

/* Slider Style */

.slidecontainer {
  width: 100%; /* Width of the outside container */
  height:20px;
  margin-top:6px;
  margin-bottom: 6px;
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; 
  height: 20px;
  background: #f3f3f3; 
  outline: none; 
  opacity: 0.85; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius:10px;
  
}

.output { 
    color:black;
	display: inline-block;
	align-content: right;
    position: absolute;
	text-align: center;
	justify-content: center;
    background:white;
	min-width: 40px;
	width: 15%;
	right:4px;
    border-radius:10px;
    border:2px solid white;
}


.sliderTotal { 
    color:black;
    text-align:center;
    background:white;
    display:inline;
    float:right;
    border-radius:10px;
    border:2px solid white;
	margin-top: 10px;
	margin-bottom: 0px;
}


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 30px; 
  background: #de0303; /* Reddish background */
  cursor: pointer; 
  border-radius:10px;
}

.slider::-moz-range-thumb {
  width: 40px; 
  height: 30px; 
  background: #de0303; /* Reddish background */
  cursor: pointer; 
  border-radius:10px;
}

.slider::-webkit-slider-thumb:hover{
    background:#ffb65d;
    transition-property:background border;
    transition-duration: .25s;
    transition-timing-function: linear;
    border:4px solid #de0303;
    height:40px;
    border-radius:15px;
}

.slider::-moz-range-thumb:hover{
    background:#ffb65d;
    transition-property: background border;
    transition-duration: .25s;
    transition-timing-function: linear;
    border:4px solid #de0303;
    height:40px;
    border-radius:15px;
}
 
/* Submission button */

input[type=submit] {
  	display: inline;
	margin: 0px auto;
	margin-top: 10px;
	background-color: #f47029;
	border: 2px solid white;
	border-radius: 10px;
  	color: white;
  	padding: 10px;
	text-decoration: none;
  	cursor: pointer;
  	align-self: center;
	font-weight:bold;
}
