body {
  color: white;
}
h3 {
    color:white;
}
.slidecontainer {
  width: 33%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 33%; 
  height: 25px; 
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #AF4E57; 
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #d7d7d7; .
  cursor: pointer; 
}