<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Network Prioritization Template using Flask for weighted prioritization analysis.">
    <meta name="author" content="David Wasserman">
    <link rel="icon" href="https://img.icons8.com/material/24/000000/streets.png"></link>
    <title>Network Prioritization</title>
    <!--Script Imports and CSS imports-->
    <script src="{{url_for('static', filename='leaflet/dist/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='chroma-js/chroma.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/dist/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='application/main.css')}}">
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.3"></script>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="#">Network Prioritization</a>
        <a class="navbar-brand mb-0 p" href="#">West Valley Active Transportation Plan</a>
    </nav>
    
    <nav class="sidebar-nav navbar-dark bg-dark">
        <p>Strava Usage</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="3.75" class="slider" id="strava">
        </div>
        <p>UCATS Bicycle Index</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="8.75" class="slider" id="ucats-bicycle">
        </div>
        <p>UCATS Pedestrian Index</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="12.5" class="slider" id="ucats-ped">
        </div>
        <p>Safety Score</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="25" class="slider" id="safety">
        </div>
        <p>Sidewalk Presence</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="10" class="slider" id="sidewalk">
        </div>
        <p>Crosswalk Presence</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="10" class="slider" id="crosswalk">
        </div>
        <p>Bicycle Lane Presence</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="10" class="slider" id="bike-lane">
        </div>
        <p>Bicycle Connectivity</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="10" class="slider" id="bike-connectivity">
        </div>
        <p>Pedestrian Connectivity</p>
        <div class="slider">
            <input type="range" min="1" max="100" value="10" class="slider" id="ped-connectivity">
        </div>
     </nav>
    </div>   
    <div id="map"></div>
    
    <script src="{{url_for('static',filename='application/main.js')}}"></script>

</body>
</html>
