<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{{url_for('static', filename='d3/index.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
   <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Network Prioritization</a>
    </div>
  </div>
  </nav>
</body>
<div class="container">
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4
    </div>
    <div class="col-sm-4" style="background-color:blue;">.col-sm-4
    </div>
  </div>
</div>
</div>
</div>
</html>