<!DOCTYPE html>
<html>
<head>
	<title>DataFrame Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Network Prioritization Template using Flask for weighted prioritization analysis.">
    <meta name="author" content="David Wasserman">
    <link rel="icon" href="https://img.icons8.com/material/24/000000/streets.png"></link>
    <!--Script Imports and CSS imports-->
    <script src="{{url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/chroma-js/chroma.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='application/main.css')}}">
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.3"></script>
</head>
<body>
<h1>Weighted Dataframe</h1>
<div class="slidecontainer">
            <div class="slider">
                
                <input type="range" min="1" max="100" value="10" step="0.01" class="slider" name = "pedconnectivity" id="rangeslider" oninput="pedconnectivityOutputId.value = pedconnectivity.value" >
            </div>
        </div>
<div>
{{weighted_df | safe}}
</div>
<div>
{{json | safe}}
</div>

</body>
</html>